In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../Pandas/day_1/dating.csv')

In [3]:
df.head()

,gender,age,age_o,race,race_o,importance_same_race,importance_same_religion,pref_o_attractive,pref_o_sincere,pref_o_intelligence,...,intelligence_partner,funny_partner,ambition_partner,shared_interests_partner,interests_correlate,expected_happy_with_sd_people,expected_num_interested_in_me,like,guess_prob_liked,match
0,female,21.0,27.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,35.0,20.0,20.0,...,7.0,7.0,6.0,5.0,0.14,3.0,2.0,7.0,6.0,0
1,female,21.0,22.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,60.0,0.0,0.0,...,7.0,8.0,5.0,6.0,0.54,3.0,2.0,7.0,5.0,0
2,female,21.0,22.0,Asian/PacificIslander/Asian-American,Asian/PacificIslander/Asian-American,2.0,4.0,19.0,18.0,19.0,...,9.0,8.0,5.0,7.0,0.16,3.0,2.0,7.0,NaN,1
3,female,21.0,23.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,30.0,5.0,15.0,...,8.0,7.0,6.0,8.0,0.61,3.0,2.0,7.0,6.0,1
4,female,21.0,24.0,Asian/PacificIslander/Asian-American,Latino/HispanicAmerican,2.0,4.0,30.0,10.0,20.0,...,7.0,7.0,6.0,6.0,0.21,3.0,2.0,6.0,6.0,1

In [4]:
df.shape

(8378, 37)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Data columns (total 37 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   gender                         8378 non-null   object
 1   age                            8283 non-null   float64
 2   age_o                          8274 non-null   float64
 3   race                           8315 non-null   object
 4   race_o                         8305 non-null   object
 5   importance_same_race           8299 non-null   float64
 6   importance_same_religion       8299 non-null   float64
 7   pref_o_attractive              8289 non-null   float64
 8   pref_o_sincere                 8289 non-null   float64
 9   pref_o_intelligence            8289 non-null   float64
 10  pref_o_funny                   8280 non-null   float64
 11  pref_o_ambitious               8271 non-null   float64
 12  pref_o_shared_interests        8249 non-null   float64
 13  attractive_o                   8166 non-null   float64
 14  sincere_o                      8091 non-null   float64
 15  intelligence_o                 8072 non-null   float64
 16  funny_o                        8018 non-null   float64
 17  ambitous_o                     7656 non-null   float64
 18  shared_interests_o             7302 non-null   float64
 19  attractive_important           8299 non-null   float64
 20  sincere_important              8299 non-null   float64
 21  intellicence_important         8299 non-null   float64
 22  funny_important                8289 non-null   float64
 23  ambtition_important            8279 non-null   float64
 24  shared_interests_important     8257 non-null   float64
 25  attractive_partner             8176 non-null   float64
 26  sincere_partner                8101 non-null   float64
 27  intelligence_partner           8082 non-null   float64
 28  funny_partner                  8028 non-null   float64
 29  ambition_partner               7666 non-null   float64
 30  shared_interests_partner       7311 non-null   float64
 31  interests_correlate            8220 non-null   float64
 32  expected_happy_with_sd_people  8277 non-null   float64
 33  expected_num_interested_in_me  1800 non-null   float64
 34  like                           8138 non-null   float64
 35  guess_prob_liked               8069 non-null   float64
 36  match                          8378 non-null   int64
dtypes: float64(33), int64(1), object(3)
memory usage: 2.4+ MB

In [6]:
df.describe()

,age,age_o,importance_same_race,importance_same_religion,pref_o_attractive,pref_o_sincere,pref_o_intelligence,pref_o_funny,pref_o_ambitious,pref_o_shared_interests,...,intelligence_partner,funny_partner,ambition_partner,shared_interests_partner,interests_correlate,expected_happy_with_sd_people,expected_num_interested_in_me,like,guess_prob_liked,match
count,8283.000000,8274.000000,8299.000000,8299.000000,8289.000000,8289.000000,8289.000000,8280.000000,8271.000000,8249.000000,...,8082.000000,8028.000000,7666.000000,7311.000000,8220.000000,8277.000000,1800.000000,8138.000000,8069.000000,8378.000000
mean,26.358928,26.364999,3.784793,3.651645,22.495347,17.396867,20.270759,17.459714,10.685375,11.845930,...,7.368597,6.400598,6.777524,5.474559,0.196010,5.534131,5.570556,6.134087,5.207523,0.164717
std,3.566763,3.563648,2.845708,2.805237,12.569802,7.044003,6.782895,6.085526,6.126544,6.362746,...,1.550453,1.953702,1.794055,2.156363,0.303539,1.734059,4.762569,1.841285,2.129565,0.370947
min,18.000000,18.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-0.830000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,24.000000,1.000000,1.000000,15.000000,15.000000,17.390000,15.000000,5.000000,9.520000,...,6.000000,5.000000,6.000000,4.000000,-0.020000,5.000000,2.000000,5.000000,4.000000,0.000000
50%,26.000000,26.000000,3.000000,3.000000,20.000000,18.370000,20.000000,18.000000,10.000000,10.640000,...,7.000000,7.000000,7.000000,6.000000,0.210000,6.000000,4.000000,6.000000,5.000000,0.000000
75%,28.000000,28.000000,6.000000,6.000000,25.000000,20.000000,23.810000,20.000000,15.000000,16.000000,...,8.000000,8.000000,8.000000,7.000000,0.430000,7.000000,8.000000,7.000000,7.000000,0.000000
max,55.000000,55.000000,10.000000,10.000000,100.000000,60.000000,50.000000,50.000000,53.000000,30.000000,...,10.000000,10.000000,10.000000,10.000000,0.910000,10.000000,20.000000,10.000000,10.000000,1.000000

In [7]:
df.shape[0]

8378

## value_counts()의 dropna 옵션

In [8]:
df['race'].value_counts(dropna=False)

European/Caucasian-American             4727
Asian/PacificIslander/Asian-American    1982
Latino/HispanicAmerican                  664
Other                                    522
Black/AfricanAmerican                    420
NaN                                       63
Name: race, dtype: int64

# pandas의 DataFrame과 numpy의 ndarray는 서로 변환 가능

# sklearn에서는 ndarray 개체 많이 사용

### list => dataframe

In [9]:
pd.DataFrame([1, 2, 3], columns=['col1'])

   col1
0     1
1     2
2     3

### dict => dataframe

In [10]:
pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})

   col1  col2
0     1     3
1     2     4

### ndarray => dataframe

In [11]:
pd.DataFrame(np.arange(3), columns=['col1'])

   col1
0     0
1     1
2     2

### dataframe => list

In [12]:
pd.DataFrame([[1, 2], [3,4]], columns=['col1', 'col2']).values.tolist()

[[1, 2], [3, 4]]

### dataframe => dict

In [13]:
pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]}).values.tolist()

[[1, 3], [2, 4]]

### dataframe => ndarray

In [14]:
pd.DataFrame(np.arange(5)).values

array([[0],
       [1],
       [2],
       [3],
       [4]])

## 컬럼 추가

In [15]:
df['new_col'] = 0

In [16]:
df['new_col']

0       0
1       0
2       0
3       0
4       0
       ..
8373    0
8374    0
8375    0
8376    0
8377    0
Name: new_col, Length: 8378, dtype: int64

In [17]:
df['new_col2'] = df['new_col'] + 3

In [18]:
df['new_col2']

0       3
1       3
2       3
3       3
4       3
       ..
8373    3
8374    3
8375    3
8376    3
8377    3
Name: new_col2, Length: 8378, dtype: int64

## 컬럼 업데이트

In [19]:
df['new_col'] = df['new_col'] + 1

In [20]:
df[['new_col', 'new_col2']]

      new_col  new_col2
0           1         3
1           1         3
2           1         3
3           1         3
4           1         3
...       ...       ...
8373        1         3
8374        1         3
8375        1         3
8376        1         3
8377        1         3

[8378 rows x 2 columns]

In [21]:
df.drop(['new_col', 'new_col2'], axis=1, inplace=True)

In [22]:
df.index.values

array([   0,    1,    2, ..., 8375, 8376, 8377], dtype=int64)

## reset_index()

### 기존 인덱스 column으로 추가됨

In [23]:
df.reset_index()

,index,gender,age,age_o,race,race_o,importance_same_race,importance_same_religion,pref_o_attractive,pref_o_sincere,...,intelligence_partner,funny_partner,ambition_partner,shared_interests_partner,interests_correlate,expected_happy_with_sd_people,expected_num_interested_in_me,like,guess_prob_liked,match
0,0,female,21.0,27.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,35.0,20.0,...,7.0,7.0,6.0,5.0,0.14,3.0,2.0,7.0,6.0,0
1,1,female,21.0,22.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,60.0,0.0,...,7.0,8.0,5.0,6.0,0.54,3.0,2.0,7.0,5.0,0
2,2,female,21.0,22.0,Asian/PacificIslander/Asian-American,Asian/PacificIslander/Asian-American,2.0,4.0,19.0,18.0,...,9.0,8.0,5.0,7.0,0.16,3.0,2.0,7.0,NaN,1
3,3,female,21.0,23.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,30.0,5.0,...,8.0,7.0,6.0,8.0,0.61,3.0,2.0,7.0,6.0,1
4,4,female,21.0,24.0,Asian/PacificIslander/Asian-American,Latino/HispanicAmerican,2.0,4.0,30.0,10.0,...,7.0,7.0,6.0,6.0,0.21,3.0,2.0,6.0,6.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,8373,male,25.0,26.0,European/Caucasian-American,Latino/HispanicAmerican,1.0,1.0,10.0,10.0,...,5.0,5.0,NaN,NaN,0.64,10.0,NaN,2.0,5.0,0
8374,8374,male,25.0,24.0,European/Caucasian-American,Other,1.0,1.0,50.0,20.0,...,8.0,4.0,4.0,NaN,0.71,10.0,NaN,4.0,4.0,0
8375,8375,male,25.0,29.0,European/Caucasian-American,Latino/HispanicAmerican,1.0,1.0,40.0,10.0,...,8.0,8.0,8.0,NaN,-0.46,10.0,NaN,6.0,5.0,0
8376,8376,male,25.0,22.0,European/Caucasian-American,Asian/PacificIslander/Asian-American,1.0,1.0,10.0,25.0,...,5.0,4.0,NaN,5.0,0.62,10.0,NaN,5.0,5.0,0
8377,8377,male,25.0,22.0,European/Caucasian-American,Asian/PacificIslander/Asian-American,1.0,1.0,20.0,20.0,...,6.0,4.0,8.0,1.0,0.01,10.0,NaN,4.0,5.0,0

### drop 옵션으로 컬럼 추가되는 것 방지 가능

In [24]:
df.reset_index(drop=True)

,gender,age,age_o,race,race_o,importance_same_race,importance_same_religion,pref_o_attractive,pref_o_sincere,pref_o_intelligence,...,intelligence_partner,funny_partner,ambition_partner,shared_interests_partner,interests_correlate,expected_happy_with_sd_people,expected_num_interested_in_me,like,guess_prob_liked,match
0,female,21.0,27.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,35.0,20.0,20.0,...,7.0,7.0,6.0,5.0,0.14,3.0,2.0,7.0,6.0,0
1,female,21.0,22.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,60.0,0.0,0.0,...,7.0,8.0,5.0,6.0,0.54,3.0,2.0,7.0,5.0,0
2,female,21.0,22.0,Asian/PacificIslander/Asian-American,Asian/PacificIslander/Asian-American,2.0,4.0,19.0,18.0,19.0,...,9.0,8.0,5.0,7.0,0.16,3.0,2.0,7.0,NaN,1
3,female,21.0,23.0,Asian/PacificIslander/Asian-American,European/Caucasian-American,2.0,4.0,30.0,5.0,15.0,...,8.0,7.0,6.0,8.0,0.61,3.0,2.0,7.0,6.0,1
4,female,21.0,24.0,Asian/PacificIslander/Asian-American,Latino/HispanicAmerican,2.0,4.0,30.0,10.0,20.0,...,7.0,7.0,6.0,6.0,0.21,3.0,2.0,6.0,6.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,male,25.0,26.0,European/Caucasian-American,Latino/HispanicAmerican,1.0,1.0,10.0,10.0,30.0,...,5.0,5.0,NaN,NaN,0.64,10.0,NaN,2.0,5.0,0
8374,male,25.0,24.0,European/Caucasian-American,Other,1.0,1.0,50.0,20.0,10.0,...,8.0,4.0,4.0,NaN,0.71,10.0,NaN,4.0,4.0,0
8375,male,25.0,29.0,European/Caucasian-American,Latino/HispanicAmerican,1.0,1.0,40.0,10.0,30.0,...,8.0,8.0,8.0,NaN,-0.46,10.0,NaN,6.0,5.0,0
8376,male,25.0,22.0,European/Caucasian-American,Asian/PacificIslander/Asian-American,1.0,1.0,10.0,25.0,25.0,...,5.0,4.0,NaN,5.0,0.62,10.0,NaN,5.0,5.0,0
8377,male,25.0,22.0,European/Caucasian-American,Asian/PacificIslander/Asian-American,1.0,1.0,20.0,20.0,10.0,...,6.0,4.0,8.0,1.0,0.01,10.0,NaN,4.0,5.0,0

## value_counts() 에 응용 가능

In [25]:
df['gender'].value_counts().reset_index()

    index  gender
0    male    4194
1  female    4184

## 논리연산자 ( & | ~ )

In [31]:
df[~(df['gender']=='female')]

,gender,age,age_o,race,race_o,importance_same_race,importance_same_religion,pref_o_attractive,pref_o_sincere,pref_o_intelligence,...,intelligence_partner,funny_partner,ambition_partner,shared_interests_partner,interests_correlate,expected_happy_with_sd_people,expected_num_interested_in_me,like,guess_prob_liked,match
100,male,27.0,21.0,European/Caucasian-American,Asian/PacificIslander/Asian-American,7.0,3.0,15.0,20.0,20.0,...,8.0,8.0,8.0,6.0,0.14,7.0,3.0,7.0,4.0,0
101,male,27.0,24.0,European/Caucasian-American,European/Caucasian-American,7.0,3.0,45.0,5.0,25.0,...,6.0,9.0,7.0,4.0,0.29,7.0,3.0,7.0,2.0,0
102,male,27.0,25.0,European/Caucasian-American,European/Caucasian-American,7.0,3.0,35.0,10.0,35.0,...,6.0,5.0,8.0,4.0,-0.24,7.0,3.0,5.0,2.0,0
103,male,27.0,23.0,European/Caucasian-American,European/Caucasian-American,7.0,3.0,20.0,20.0,20.0,...,8.0,7.0,7.0,5.0,-0.18,7.0,3.0,6.0,3.0,0
104,male,27.0,21.0,European/Caucasian-American,European/Caucasian-American,7.0,3.0,20.0,5.0,25.0,...,8.0,8.0,7.0,6.0,-0.43,7.0,3.0,6.0,5.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,male,25.0,26.0,European/Caucasian-American,Latino/HispanicAmerican,1.0,1.0,10.0,10.0,30.0,...,5.0,5.0,NaN,NaN,0.64,10.0,NaN,2.0,5.0,0
8374,male,25.0,24.0,European/Caucasian-American,Other,1.0,1.0,50.0,20.0,10.0,...,8.0,4.0,4.0,NaN,0.71,10.0,NaN,4.0,4.0,0
8375,male,25.0,29.0,European/Caucasian-American,Latino/HispanicAmerican,1.0,1.0,40.0,10.0,30.0,...,8.0,8.0,8.0,NaN,-0.46,10.0,NaN,6.0,5.0,0
8376,male,25.0,22.0,European/Caucasian-American,Asian/PacificIslander/Asian-American,1.0,1.0,10.0,25.0,25.0,...,5.0,4.0,NaN,5.0,0.62,10.0,NaN,5.0,5.0,0
8377,male,25.0,22.0,European/Caucasian-American,Asian/PacificIslander/Asian-American,1.0,1.0,20.0,20.0,10.0,...,6.0,4.0,8.0,1.0,0.01,10.0,NaN,4.0,5.0,0

## agg

In [35]:
df['age'].agg(['mean', 'std'])

mean    26.358928
std      3.566763
Name: age, dtype: float64

In [40]:
df.groupby('gender').agg({'age': 'max', 'age_o':'min'})

         age  age_o
gender
female  55.0   18.0
male    42.0   19.0

In [44]:
df['age_band'] = df['age'].map(lambda x: '20s' if x< 30 else '30s' if x < 40 else 'old' )

In [50]:
df.groupby('age_band')['age'].count()

age_band
20s    6888
30s    1369
old      26
Name: age, dtype: int64